.marker-cluster-10 {
    background-color: rgba(176, 190, 197, 0.5);
}

.marker-cluster-10 div {
    background-color: rgba(204, 101, 101, 1);
}

.marker-cluster-25 {
    background-color: rgba(176, 190, 197, 0.5);
}

.marker-cluster-25 div {
    background-color: rgba(221, 83, 83, 1);
}

.marker-cluster-50 {
    background-color: rgba(176, 190, 197, 0.5);
}

.marker-cluster-50 div {
    background-color: rgba(238, 66, 66, 1);
}

.marker-cluster-100 {
    background-color: rgba(176, 190, 197, 0.5);
}

.marker-cluster-100 div {
    background-color: rgba(255, 49, 49, 1);
}


/* IE 6-8 fallback colors */

.leaflet-oldie .marker-cluster-10 {
    background-color: rgb(176, 190, 197);
}

.leaflet-oldie .marker-cluster-10 div {
    background-color: rgb(204, 101, 101);
}

.leaflet-oldie .marker-cluster-25 {
    background-color: rgb(176, 190, 197);
}

.leaflet-oldie .marker-cluster-25 div {
    background-color: rgb(221, 83, 83);
}

.leaflet-oldie .marker-cluster-50 {
    background-color: rgb(176, 190, 197);
}

.leaflet-oldie .marker-cluster-50 div {
    background-color: rgb(238, 66, 66);
}

.leaflet-oldie .marker-cluster-100 {
    background-color: rgb(176, 190, 197);
}

.leaflet-oldie .marker-cluster-100 div {
    background-color: rgb(255, 49, 49);
}

.marker-cluster {
    background-clip: padding-box;
    border-radius: 20px;
}

.marker-cluster div {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-top: 5px;
    text-align: center;
    border-radius: 15px;
    /*font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;*/
}

.marker-cluster span {
    line-height: 30px;
}