@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'Comfortaa';
    src: url('../fonts/Comfortaa-Medium.ttf');
}

body {
    font-family: 'Open Sans', sans-serif;
    /*padding-top: 50px;*/
}

.mapa {
    /*height: 100%;*/
    position: absolute;
    top: 55px;
    bottom: 0;
    width: 100%;
}

.navegacion {
    min-height: 55px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: #08191F;
    z-index: 1599;
}

.modal {
    z-index: 1600;
}

.tooltip {
    z-index: 1601; 
}

.marcadorImagen {
    width: 48px;
    height: 48px;
    background-color: rgb(215, 38, 86);
    border: 2px solid rgb(211, 14, 68);
    border-radius: 50%;
    text-align: center;
    line-height: 45px;
    font-size: medium;
    color: rgb(255, 255, 255);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

/*.marcadorDivTexto {
    width: 48px;
    height: 48px;
    background-color: rgb(215, 38, 86);
    border: 2px solid rgb(211, 14, 68);
    text-align: center;
    color: rgb(255, 255, 255);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    display: block;
}

.marcadorDivTexto span {
    line-height: 45px;
    font-size: medium;
}*/

.imagen {
    max-width: 300px;
    max-height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.titulo {
    font-family: 'Comfortaa', cursive;
}

.descripcion {
    padding: 10px;
}

.leaflet-popup-content {
    text-align: center;
}

.botonFlotante {
    display: inline;
    position: fixed;
    bottom: 6%;
    right: 3%;
    z-index: 1000;
}

.centroON {
    position: absolute;
    height: 4rem;
    width: 4rem;
    top: 50%;
    margin-top: -2rem;
    left: 50%;
    margin-left: -2rem;
    z-index: 10000;
}

.centroOFF {
    position: absolute;
    height: 4rem;
    width: 4rem;
    top: 50%;
    margin-top: -2rem;
    left: 50%;
    margin-left: -2rem;
    z-index: -1;
}

.interruptorFlotante {
    background-color: #08191F;
    color: white;
}

.fondoPrimario {
    background-color: #08191F;
}

.colorActivo {
    color: #70ACFF;
}

@media screen and (max-width: 450px) {
    .imagen {
        /*max-width: 220px;*/
        max-width: 100%;
    }
    .toast {
        max-width: 280px;
    }
}