@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'Comfortaa';
    src: url('../fonts/Comfortaa-Medium.ttf');
}

body{
    font-family: 'Open Sans', sans-serif;
    /*padding-top: 50px;*/
}

.mapa {
    /*height: 100%;*/
    position:absolute;
    top: 50px;
    bottom: 0;
    width: 100%;
}

.navegacion{
    height: 50px;
    position: relative;
}

.imagen {
    max-width: 300px;
    max-height: 300px;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.titulo {
    font-family: 'Comfortaa', cursive;
}

.descripcion {
    padding: 10px;
}

.leaflet-popup-content {
    text-align: center;
}

.botonFlotante {
    display: inline;
    position: fixed; 
    bottom: 6%; 
    right: 3%; 
    z-index: 1000;
}

@media screen and (max-width: 450px){
    .imagen {
        max-width: 220px;
    }

    .toast {
        max-width: 280px;
    }
}